<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="reciclaje"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
  
  <!--Punto De Reciclaje -1-->
<ion-content>
    <ion-grid>
        <ion-col class="ion-align-items-center">
          <ion-card>
  
            <ion-card-header class="ion-center">
                <ion-card-title>Punto Reciclaje Multicancha</ion-card-title>
            </ion-card-header>
            <ion-card-content>           
              
              
            </ion-card-content>
            <ion-card-content>
               <img src="assets/img/Multicancha.jpg" >
            </ion-card-content>
          </ion-card>
        </ion-col>
    </ion-grid>
</ion-content>