<ion-menu side="start" menuId="first" contentId="main" [swipeGesture]="true">
  <ion-header>
    <ion-toolbar class="ion-color" >
      <ion-title >Puntos de Interes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item color="light"href=""><ion-icon name="home-outline"></ion-icon> Inicio</ion-item>
      <ion-item color="light"href=""><ion-icon name="today-outline"></ion-icon> Horario</ion-item>
      <ion-item color="light"href="PuntoInteres"><ion-icon name="location-outline"></ion-icon> Puntos de Interes</ion-item>
      <ion-item color="light"href=""><ion-icon name="megaphone-outline"></ion-icon> Anuncio</ion-item>
      <ion-item color="light"href=""><ion-icon name="game-controller-outline"></ion-icon> Actividades</ion-item>
      <ion-item color="light"href=""><ion-icon name="heart-outline"></ion-icon>Favoritos</ion-item>
    </ion-list>
  </ion-content>  
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<ion-buttons slot="start">
  <ion-menu-button menu="first"></ion-menu-button>
</ion-buttons>
<!--local De Comida-->
<ion-content>
  <ion-grid>
    <ion-col class="ion-align-items-center">
      <ion-card>
        <ion-searchbar></ion-searchbar>
        <ion-card-header class="ion-center">
          <ion-card-title>Local de Comida</ion-card-title>
        </ion-card-header>    
        <ion-card-content>
          Horario de atención Lunes a viernes 08:30 -- 22:30 hrs / sábado 08:30 -- 15:30
          se encuentra ubicado en el primer piso, al final del patio central  
        </ion-card-content>
        <ion-card-content>
           <img src="assets/img/Local de comida" >          
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
