<ion-menu side="start" menuId="first" contentId="main" [swipeGesture]="true">
  <ion-header>
    <ion-toolbar class="ion-color" >
      <ion-title >Puntos de Interes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item color="light"href=""><ion-icon name="home-outline"></ion-icon> Inicio</ion-item>
      <ion-item color="light"href=""><ion-icon name="today-outline"></ion-icon> Horario</ion-item>
      <ion-item color="light"href="PuntoInteres"><ion-icon name="location-outline"></ion-icon> Puntos de Interes</ion-item>
      <ion-item color="light"href=""><ion-icon name="megaphone-outline"></ion-icon> Anuncio</ion-item>
      <ion-item color="light"href=""><ion-icon name="game-controller-outline"></ion-icon> Actividades</ion-item>
      <ion-item color="light"href=""><ion-icon name="heart-outline"></ion-icon>Favoritos</ion-item>
    </ion-list>
  </ion-content>  
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<ion-buttons slot="start">
  <ion-menu-button menu="first"></ion-menu-button>
</ion-buttons>
<!--Enfermeria-->
<ion-content>
    <ion-grid>
      <ion-col class="ion-align-items-center">
          <ion-card>
                <ion-searchbar></ion-searchbar>
                <ion-card-header class="ion-center">
                    <ion-card-title>Enfermeria</ion-card-title>
                </ion-card-header>
              <ion-card-content>
                Horario de atención Lunes a viernes 08:30 -- 23:00 / Sábado 09:00 -- 15:30, 
                se encuentra ubicado en el piso menos uno al frente de la capilla
              </ion-card-content>
              <ion-card-content>
                <img src="assets/img/Enfermeria" >
              </ion-card-content>
              <ion-header>
               <ion-toolbar>
                 <ion-buttons slot="start">
                   <ion-back-button></ion-back-button>
                 </ion-buttons>
               </ion-toolbar>
             </ion-header>
          </ion-card>          
      </ion-col>
    </ion-grid>
</ion-content>
  